{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block extra_title %}- shopping cart{% endblock %}

{% block page_header %}
{% include 'includes/main-nav.html' %}
{% endblock %}

{% block content %}
<main class="mb-5">
    <section class="container product-listing position-relative top-0 mt-3">
        <div class="container-fluid">
            <a class="d-inline-block mb-3 text-decoration-none" href="{% url 'products' %}">
                <i class="fa-solid fa-circle-chevron-left fs-4"></i>
                <span class="text-salmon fs-4">Keep shopping</span>
            </a>

            <div class="row">
                <div class="col-12 col-md-7">
                    {% if cart_items|length > 0 %}
                        {% include 'cart/includes/order-info-card-mobile.html' %}

                    {% for product in cart_items %}
                        {% include 'cart/includes/order-item-card.html' %}
                    {% endfor %}

                    <div class="text-end mb-2">
                        <a href="{% url 'remove_from_cart' 0 %}" class="text-salmon text-decoration-none fw-bold">Clear cart</a>
                    </div>
                    {% else %}
                    <div class="fs-5 mb-3">
                        Your cart is empty.
                    </div>
                    {% endif %}
                </div>

                <div class="col-12 col-md-5">
                    {% if cart_items|length > 0 %}
                        {% include 'cart/includes/order-info-card.html' %}          
                        {% include 'cart/includes/order-total-card.html' %}
                    {% endif %}

                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block extra_js %}
<script src="{% static 'cart/js/cart.js' %}"></script>
{% endblock %}