{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
{% include 'includes/index-nav.html' %}
{% endblock %}

{% block content %}
<main>
    <section class="container-fluid g-0">
        <div class="jumbotron">
            <div class="container d-flex flex-column align-items-center align-items-md-start">
                <div class="text-center">
                    <h1 class="hero-text text-center">Sushiish<br>be<br>rolling</h1>
                    <a class="btn btn-salmon btn-lg" href="#about" role="button">Learn More</a>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="container-fluid g-0 px-3">
        <div class="wave-overlay"></div>
        <div class="container">
            <div class="row g-0">
                <div class="col-12 col-md-5 text-center text-md-start">
                    <h2 class="display-4 fw-bolder text-white mt-4">Delish & fresh fish guaranteed</h2>
                    <p class="text-white">
                        Sushiish is a restaurant that serves sushi and other Japanese cuisine.
                        We offer a wide range of sushi and other Japanese cuisine.
                        We are a family-owned business that specializes in sushi and other Japanese cuisine.
                    </p>
                    <a class="btn btn-salmon btn-lg" href="{% url 'products' %}">Order now</a>
                </div>
                <div class="col-12 col-md-6 offset-md-1 d-none d-md-block">
                    <img src="{{ MEDIA_URL }}homepage-sushi-plates.jpg" alt="a photo og 6 different types of makis"
                        class="img-fluid rounded">
                </div>
            </div>
        </div>
    </section>

    <section id="catering" class="container-fluid g-0">
        <div class="row justify-content-center g-0">
            <div class="col-10 col-md-6">
                <div class="card shadow-salmon extra-blur">
                    <div class="card-body">
                        <h2 class="text-center display-4 text-avocado">Catering</h2>
                        <p class="card-text">From sushi bars to cooking stations of all things Asian, we have food for
                            all occasions!
                            Catering is an easy & delicious addition to any event. Give us a shout and we shall deliver
                            a tailormade menu for your events.
                        </p>
                        <div class="text-center">
                            <a class="btn btn-salmon px-4" href="#contact">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="container-fluid g-0">
        <div class="row g-0">
            <div class="col-12 col-md-7 px-5">
                <h2 class="display-4 text-white">Contact Us</h2>
                <form id="contact-form" action="{% url 'contact_us' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" aria-label="Full name"
                            placeholder="Name &#42;" name="full_name" required>
                        <label for="name">Full name *</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" id="phone" aria-label="Phone number"
                            placeholder="Phone &#42;" name="phone" required>
                        <label for="phone">Phone *</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                            aria-label="Email address" name="email" placeholder="Email &#42;" required>
                        <label for="email">Email *</label>
                        <div id="emailHelp" class="form-text text-white">
                            We'll never share your email with anyone else.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="visually-hidden">Message</label>
                        <textarea class="form-control" id="message" rows="5" aria-label="Message"
                            placeholder="Message &#42;" name="message" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-lg btn-avocado px-5">Send</button>
                </form>
            </div>
            <div class="col-md-4 offset-lg-1 d-none d-md-block">
                <h3 class="display-4 mb-3 text-white">Contact Info</h3>
                <div class="text-white">
                    <p class="font-weight-bold">Sushiish AS</p>
                    <p><u>Phone:</u> 40 50 60 70</p>
                    <p><u>Email:</u> contact@sushiish.com</p>
                    <p><u>Address:</u> Rolling Road 26, 3030 Oslo</p>
                    <p><u>Pickup hours:</u> 13:00 - 21:00</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container text-center w-75">
            <h3 class="row justify-content-center">Sushiish AS</h3>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-2 text-end">
                    <a href="https://www.facebook.com" target="_blank">
                        <i class="fa-brands fa-facebook fs-2" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                </div>
                <div class="col-2 text-start">
                    <a href="https://www.instagram.com" target="_blank">
                        <i class="fa-brands fa-instagram fs-2" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-avocado">contact@sushiish.com</div>
                    <div class="text-avocado">40 50 60 70</div>
                </div>
                <div class="col-12">
                    <div class="text-salmon text-center">
                        Copyright &copy; Sushiish AS
                    </div>
                </div>
            </div>
    </footer>

</main>
{% endblock %}


{% block extra_js %}
<script>
    var scrollSpy = new bootstrap.ScrollSpy(document.body, {
        target: 'about',
        offset: 100,
    });
    document.querySelectorAll('.navbar-nav>li>a').forEach(navlink => {
        if (!navlink.classList.contains('dropdown-toggle')) {
            navlink.addEventListener('click', () => {
                document.querySelector('.navbar-collapse').classList.remove('show')
            });
        }
    });

    document.querySelector('#contact-form').addEventListener('submit', async e => {
        e.preventDefault();
        const form = e.target;
        const formData = new FormData(form);
        const url = form.getAttribute('action');
        const response = await fetch(url, {
            method: 'POST',
            body: formData,
        });
        if (response.status === 200) {
            form.innerHTML = '<div class="alert alert-light text-avocado">Message sent successfully!</div>';
        } else {
            form.innerHTML = '<div class="alert alert-light text-salmon">Error sending message!</div>';
        }
    });

</script>
{% endblock %}