<div class="container-fluid category-nav-wrapper">
    <div id="categoryNav" class="category-nav">
        <ul id="categoryNavContents" class="category-nav_contents list-inline nav nav-pills nav-fill d-block mb-0">
            <li class="nav-item list-inline-item">
                <a class="nav-link active text-center" href="#all">All</a>
            </li>
            {% for category in categories %}
            <li class="nav-item list-inline-item">
                <a class="nav-link" href="#category-{{ category.id }}">{{ category.friendly_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div id="prevBtn" class="nav-item previous-btn">
        <i class="fa-solid fa-circle-chevron-left"></i>
        <span class="visually-hidden">Previous</span>
    </div>

    <div id="nextBtn" class="nav-item next-btn">
        <i class="fa-solid fa-circle-chevron-right"></i>
        <span class="visually-hidden">Next</span>
    </div>
</div>