:root {
  --color-salmon: #ff7e6b;
  --color-avocado: #44b5aa;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  position: relative;
}

/* ----- navbar and header ----- */
.navbar-light .navbar-brand,
.brand-text {
  font-family: "Caveat Brush", cursive;
  font-size: 2.25em;
  letter-spacing: 2px;
  font-weight: 700;
  color: var(--color-salmon);
  margin-right: 1em;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--color-avocado);
}
.navbar-light .navbar-nav .nav-link {
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-light .navbar-toggler {
  border: 1.5px solid var(--color-salmon);
  background-color: transparent;
}

.navbar-light .navbar-toggler-icon {
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-salmon);
  font-size: 1em;
}

.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:focus,
.navbar-light .navbar-toggler:active {
  color: var(--color-avocado);
  border-color: var(--color-avocado);
}

.navbar-light .navbar-toggler:hover .navbar-toggler-icon,
.navbar-light .navbar-toggler:focus .navbar-toggler-icon,
.navbar-light .navbar-toggler:active .navbar-toggler-icon {
  color: var(--color-avocado);
}

.dropdown-menu {
  border-color: var(--color-avocado);
}

.dropdown-item a {
  color: inherit;
  text-decoration: none;
}

.dropdown-menu[data-bs-popper] {
  left: auto;
}

/* ----- headings, buttons ----- */
h1,
h2,
h3 {
  font-family: "Caveat Brush", cursive;
  font-weight: 700;
  color: var(--color-salmon);
}

.btn-salmon {
  background-color: var(--color-salmon);
  color: #fff;
  border: none;
  font-weight: 700;
}

.btn-salmon:hover,
.btn-salmon:focus,
.btn-salmon:active {
  background-color: var(--color-avocado);
  border: var(--color-avocado);
  color: #fff;
  box-shadow: 0 0 0 0.25rem #097167;
}

.btn-avocado {
  background-color: var(--color-avocado);
  color: #fff;
  border: none;
  font-weight: 700;
}

.btn-avocado:hover,
.btn-avocado:focus,
.btn-avocado:active {
  background-color: var(--color-salmon);
  border: var(--color-salmon);
  color: #fff;
  box-shadow: 0 0 0 0.25rem #963728;
}

.btn-outline-salmon {
  background-color: transparent;
  color: var(--color-salmon);
  border: 1px solid var(--color-salmon);
  font-weight: 700;
}

.btn-outline-salmon:hover,
.btn-outline-salmon:focus,
.btn-outline-salmon:active {
  background-color: transparent;
  color: var(--color-avocado);
  border: 1px solid var(--color-avocado);
  font-weight: 700;
}

.btn-outline-avocado {
  background-color: transparent;
  color: var(--color-avocado);
  border: 1px solid var(--color-avocado);
  font-weight: 700;
}

.btn-outline-avocado:hover,
.btn-outline-avocado:focus,
.btn-outline-avocado:active {
  background-color: transparent;
  color: var(--color-salmon);
  border: 1px solid var(--color-salmon);
  font-weight: 700;
}

/* ---- spacing, colors, and utilities ----- */
main {
  margin-top: 70px;
}

.text-salmon {
  color: var(--color-salmon);
}

.text-avocado {
  color: var(--color-avocado);
}

a.text-avocado:hover,
a.text-avocado:focus,
a.text-avocado:active {
  color: var(--color-salmon);
}

a.text-salmon:hover,
a.text-salmon:focus,
a.text-salmon:active {
  color: var(--color-avocado);
}

svg {
  color: var(--color-salmon);
}

svg:hover {
  color: var(--color-avocado);
}

.card {
  border: 1px solid transparent;
  border-radius: 10px;
}

.card.product-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  width: 100%;
  min-height: 100px;
}

.shadow-salmon.extra-blur {
  box-shadow: var(--color-salmon) 0px 14px 28px,
    var(--color-salmon) 0px 10px 10px;
}

.shadow-salmon {
  box-shadow: var(--color-salmon) 0px 4px 6px -1px,
    var(--color-salmon) 0px 2px 4px -1px;
}

.shadow-avocado {
  box-shadow: var(--color-avocado) 0px 4px 6px -1px,
    var(--color-avocado) 0px 2px 4px -1px;
}

.background-avocado {
  color: #fff;
  background-color: var(--color-avocado);
  box-shadow: var(--color-avocado) 0px 4px 6px -1px,
    var(--color-avocado) 0px 2px 4px -1px;
}

/* ---- inputs ----- */
input.form-control,
textarea.form-control,
input[type="checkbox"] {
  padding: 6px;
  border-radius: 4px;
  transition: background 0.15s ease, border 0.15s ease, box-shadow 0.15s ease,
    color 0.15s ease;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 3%), 0px 3px 6px rgb(0 0 0 / 2%);
}

input.form-control:focus,
textarea.form-control:focus,
input[type="checkbox"]:focus {
  outline: 0;
  border-color: hsla(174, 45%, 49%, 50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02),
    0 0 0 3px hsla(174, 45%, 49%, 25%), 0 1px 1px 0 rgba(0, 0, 0, 0.08);
}

input[type="checkbox"]:checked {
  background-color: var(--color-avocado);
  border: 1px solid #e6e6e6;
}

/* ---- bootstrap toast ----- */

.message-container {
  position: fixed;
  top: 70px;
  right: 10px;
  z-index: 99999999999;
  min-height: 200px;
}

.border-success {
  border-color: var(--color-avocado)!important;
}

.border-danger {
  border-color: var(--color-salmon)!important;
}

.border-warning {
  border-color: #ffc107!important;
}

.border-info {
  border-color: #17a2b8!important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* ---- media queries ----- */

@media (max-width: 280px) {
  /* This media query for xs screen like Galaxy Fold with breakpoint at 280px */
  main {
    margin-top: 100px;
  }

  .col-xs-12 {
    width: 100%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-4 {
    width: 33.33333333%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .text-xs-start {
    text-align: left;
  }

  .text-xs-center {
    text-align: center;
  }

  .d-xs-none {
    display: none;
  }

  .d-xs-block {
    display: block;
  }

  .fs-3 {
    font-size: 1rem;
  }

  .justify-content-xs-start {
    justify-content: flex-start!important;
  }

  .justify-content-xs-center {
    justify-content: center!important;
  }

  .dropdown-menu[data-bs-popper].dropdown-center {
    left: -50px;
  }

  .dropdown-menu[data-bs-popper].dropdown-center .dropdown-item {
    text-align: center;
  }

  .toast {
    width: 260px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }

  .container {
    max-width: 960px;
  }
}