:root {
  --color-salmon: #ff7e6b;
  --color-avocado: #44b5aa;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  position: relative;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* ----- navbar and header ----- */
.navbar-light .navbar-brand,
.brand-text {
  font-family: "Caveat Brush", cursive;
  font-size: 2.25em;
  letter-spacing: 2px;
  font-weight: 700;
  color: var(--color-salmon);
  margin-right: 1em;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--color-avocado);
}
.navbar-light .navbar-nav .nav-link {
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-light .navbar-toggler {
  border: 1.5px solid var(--color-salmon);
  background-color: transparent;
}

.navbar-light .navbar-toggler-icon {
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-salmon);
  font-size: 1em;
}

.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:focus,
.navbar-light .navbar-toggler:active {
  color: var(--color-avocado);
  border-color: var(--color-avocado);
}

.navbar-light .navbar-toggler:hover .navbar-toggler-icon,
.navbar-light .navbar-toggler:focus .navbar-toggler-icon,
.navbar-light .navbar-toggler:active .navbar-toggler-icon {
  color: var(--color-avocado);
}

.dropdown-menu {
  border-color: var(--color-avocado);
}

.dropdown-item a {
  color: inherit;
  text-decoration: none;
}

.dropdown-menu[data-bs-popper] {
  left: auto;
}
/* ----- headings, buttons ----- */
h1,
h2,
h3 {
  font-family: "Caveat Brush", cursive;
  font-weight: 700;
  color: var(--color-salmon);
}

.btn-primary {
  background-color: var(--color-salmon);
  color: #fff;
  border: none;
  font-weight: 700;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: var(--color-avocado);
  border: var(--color-avocado);
  color: #fff;
  box-shadow: 0 0 0 0.25rem #097167;
}

.btn-secondary {
  background-color: var(--color-avocado);
  color: #fff;
  border: none;
  font-weight: 700;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: var(--color-salmon);
  border: var(--color-salmon);
  color: #fff;
  box-shadow: 0 0 0 0.25rem #963728;
}

/* ---- spacing, colors, and utilities ----- */
main {
  margin-top: 80px;
}

.text-salmon {
  color: var(--color-salmon);
}

.text-avocado {
  color: var(--color-avocado);
}

svg {
  color: var(--color-salmon);
}

svg:hover {
  color: var(--color-avocado);
}

.card {
  border: 1px solid transparent;
  border-radius: 10px;
}

.card.product-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  width: 100%;
  min-height: 100px;
}

.shadow-salmon.extra-blur {
  box-shadow: var(--color-salmon) 0px 14px 28px,
    var(--color-salmon) 0px 10px 10px;
}

.shadow-salmon {
  box-shadow: var(--color-salmon) 0px 4px 6px -1px,
    var(--color-salmon) 0px 2px 4px -1px;
}

.shadow-avocado {
  box-shadow: var(--color-avocado) 0px 4px 6px -1px,
    var(--color-avocado) 0px 2px 4px -1px;
}

.background-avocado {
  color: #fff;
  background-color: var(--color-avocado);
  box-shadow: var(--color-avocado) 0px 4px 6px -1px,
    var(--color-avocado) 0px 2px 4px -1px;
}
