/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* ----- category navigation ----- */
.category-nav-wrapper {
  position: relative;
  padding: 0.5rem 1rem;
  height: 100%;
  overflow: hidden;
  border-bottom: 2px solid var(--color-avocado);
  background-color: #fff;
}

.category-nav {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.category-nav::-webkit-scrollbar {
  display: none;
}

.category-nav .nav-item .nav-link {
  padding: 0.5em 1em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.category-nav .nav-item .nav-link:hover:not(.active),
.category-nav .nav-item .nav-link:focus:not(.active),
.category-nav .nav-item .nav-link:active:not(.active) {
  border: 1px solid var(--color-avocado);
  color: var(--color-avocado);
  -webkit-transition: border-color 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

.nav-pills .nav-link.active {
  background-color: var(--color-avocado);
  color: white;
  -webkit-transition: background-color 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.previous-btn {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5%;
  font-size: 1.5rem;
}

.next-btn {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5%;
  font-size: 1.5rem;
}

.previous-btn:hover,
.next-btn:hover {
  cursor: pointer;
  color: var(--color-avocado);
}

.category-nav_contents {
  float: left;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  position: relative;
}

.category-nav_contents-no-transition {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.category-nav-fixed {
  top: 65px;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: auto;
}

/* ----- hero banner ----- */
section.product-listing-hero {
  background: url("../../../../media/products/3-softshell-crab-teriyaki.jpg")
    no-repeat center center;
  background-size: cover;
  padding: 5em 0;
}

/* ----- product card ----- */
.card.product-card .card-body {
  width: 55%;
  overflow: hidden;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product-text {
  overflow: hidden;
  line-height: 1.25rem;
  max-height: calc(1.25rem * 3);
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

.price {
  margin-top: auto;
}

.product-img-container {
  width: 45%;
  padding: 0;
  height: 200px;
}

.product-img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.allergy-tag {
  color: var(--color-avocado);
  text-transform: lowercase;
  border: 1px solid var(--color-avocado);
  padding: 0.1rem 0.5rem;
  border-radius: 10px;
  font-size: 0.65rem;
  line-height: 2;
}

/* ----- product detail offcanvas ----- */
.offcanvas-footer {
  height: 30%;
  border-top: var(--color-salmon) 1px solid;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-box-shadow: 0px -2px 8px var(--color-salmon);
  box-shadow: 0px -2px 8px var(--color-salmon);
}

input[type="number"].input-number {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  background-color: var(--color-avocado);
  color: #fff;
}

.input-group
  > :not(:first-child):not(:last-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip) {
  border: 1px solid var(--color-avocado);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@media (min-width: 768px) {
  .category-nav_contents {
    float: none;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 280px) {
  .category-nav-fixed {
    top: 110px;
  }

  .offcanvas-footer {
    height: 40%;
  }
}