<form id="create-or-update-address-form" action="{% if address %}{% url 'update_address' address.id %}{% else %} {% url 'create_address' %}{% endif %}" method="POST">
    {% csrf_token %}
    <div class="card shadow-salmon mb-3 px-3">
        <div class="px-3 pt-3 fw-bold fs-5 text-salmon">
            Address
        </div>
        <div class="card-body">
            <div class="form-floating mb-2">
                {{ address_form.phone_number }}
                <label for="{{ address_form.phone_number.id_for_label }}">{{ address_form.phone_number.label }}</label>
            </div>
            <div class="form-floating mb-2">
                {{ address_form.street_address1 }}
                <label for="{{ address_form.street_address1.id_for_label }}">{{ address_form.street_address1.label }}*</label>
            </div>
            <div class="form-floating mb-2">
                {{ address_form.street_address2 }}
                <label for="{{ address_form.street_address2.id_for_label }}">{{ address_form.street_address2.label }}</label>
            </div>
            <div class="form-floating mb-2">
                {{ address_form.town_or_city }}
                <label for="{{ address_form.town_or_city.id_for_label }}">{{ address_form.town_or_city.label }}*</label>
            </div>
            <div class="form-floating mb-2">
                {{ address_form.postcode }}
                <label for=" {{ address_form.postcode.id_for_label }}"> {{ address_form.postcode.label }}*</label>
            </div>
            <div class="form-floating mb-2">
                {{ address_form.country }}
                <label for="{{ address_form.country.id_for_label }}">{{ address_form.country.label }}</label>
            </div>
            <div class="form-floating mb-2">
                {{ address_form.address_type }}
                <label for="{{ address_form.address_type.id_for_label }}">{{ address_form.address_type.label }}</label>
            </div>
            <div class="mb-2">
                <input type="checkbox" id="isDefault" name="isDefault" {% if address.isDefault %}checked{% endif %} >
                <label for="{{ address_form.isDefault.id_for_label }}">{{ address_form.isDefault.label }}</label>
            </div>

            <div class="text-end mt-3">
                <a href="{% url 'profile' %}" class="btn btn-outline-salmon" role="button">Cancel</a>
                <button class="btn btn-salmon" role="submit">Submit</button>
            </div>
        </div>
    </div>
</form>