<div class="card shadow-avocado mb-3">
    <div class="px-3 pt-3 row align-items-center">
        <div class="col-xs-12 col-7 fw-bold fs-5 text-avocado">
            Personal Details
        </div>
        <a role="button" id="update-user-details" class="btn col-xs-12 col-2 text-avocado text-xs-start" data-url="{% url 'update_user_details' %}">
            Edit
        </a>
    </div>
    <div class="card-body">
        <div class="text-muted">Username:</div>
        <div class="text-black">{{ profile.user.username }}</div>

        <div class="text-muted mt-3">Full Name:</div>
        {% if profile.user.first_name %}
        <div class="text-black">{{ profile.user.first_name }} {{ user.last_name }}</div>
        {% else %}
        <div class="text-black">Not set</div>
        {% endif %}
        <div class="text-muted mt-3">Email:</div>
        <div class="text-black">{{ profile.user.email }}</div>
    </div>
</div>