<div class="d-none d-md-block">
    <div class="card shadow-avocado mb-3">
        <div class="card-body">
            <div class="row align-items-center text-center mb-3">
                <div class="col-5 p-0">
                    <input type="radio" id="pickup" name="shipping-method">
                    <label for="pickup" class="shipping-tag">Pick up</label>
                </div>

                <div class="col-2 p-0">- or -</div>

                <div class="col-5 p-0">
                    <input type="radio" id="delivery" name="shipping-method">
                    <label for="delivery" class="shipping-tag">Delivery</label>
                </div>
            </div>

            <div class="row g-0 align-items-center text-center mb-3">
                <div class="col-4 fw-bold fs-5">Date</div>
                <div class="col-8">
                    <input type="date" class="form-control" name="expected-done-date">
                </div>
            </div>

            <div class="row g-0 align-items-center text-center mb-3">
                <div class="col-4 fw-bold fs-5">Time</div>
                <div class="col-8">
                    <input type="time" class="form-control" name="expected-done-time">
                </div>
            </div>

            <div class="row g-0 align-items-center text-center mb-3">
                <div class="fw-bold text-avocado text-end">Add note to your order</div>
                <div class="col-12 d-none">
                    <textarea class="form-control" name="order-note" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>