<div class="d-block d-md-none">
    <div class="card shadow-avocado mb-3">
        <form id="order-info-form" class="card-body" action="{% url 'update_order_info' %}" method="POST">
            {% csrf_token %}
            <div class="error-message text-salmon mb-2"></div>

            <div class="row align-items-center text-center mb-3">
                <div class="col-5 p-0">
                    <input type="radio" id="pickup2" name="order-type2" value="pickup" required>
                    <label for="pickup2" class="shipping-tag">Pick up</label>
                </div>

                <div class="col-2 p-0">- or -</div>

                <div class="col-5 p-0">
                    <input type="radio" id="delivery2" name="order-type2" value="delivery" required>
                    <label for="delivery2" class="shipping-tag">Delivery</label>
                </div>
            </div>

            <div class="row g-0 align-items-center text-center mb-3">
                <label for="expected-done-date" class="col-4 fw-bold fs-5">Date *</label>
                <div class="col-8">
                    <input type="date" class="form-control" name="expected-done-date" value="{{ today }}"
                        min="{{ today }}" max="{{ max_date }}" required>
                </div>
            </div>

            <div class="row g-0 align-items-center text-center mb-3">
                <label for="expected-done-time" class="col-4 fw-bold fs-5">Time *</label>
                <div class="col-8">
                    <input type="time" class="form-control" name="expected-done-time" value="{{ now }}"
                        min="{{ min_time }}" max="{{ max_time }}" required>
                </div>
            </div>

            <div class="row g-0 align-items-center text-center mb-3">
                <a role="button" class="btn fw-bold text-avocado text-end add-note-btn">Add note to your order</a>
                <div class="col-12 d-none">
                    <textarea class="form-control" name="order-note" rows="3" placeholder="Add note..."></textarea>
                </div>
            </div>
        </form>
    </div>
</div>