<div class="card background-avocado">
    <div class="card-body d-flex flex-row">
        <div class="col-7">
            <div>Subtotal</div>
            <div>Delivery charge</div>
            <div class="fw-bold fs-5">Grand total</div>
        </div>
        <div class="col-5 text-end">
            <div>${{ order_total }}</div>
            <div>${{ delivery_charge }}</div>
            <div class="fw-bold fs-5">${{ grand_total }}</div>
        </div>
    </div>
    <div class="text-end px-3 py-2">
        <a href="{#% url 'checkout' %#}" class="btn btn-primary btn-block">
            <i class="fa-solid fa-lock text-white mr-2"></i>
            Proceed to checkout
        </a>
    </div>
</div>