<div class="card product-card mb-2">
    <div class="card-body">
        <div class="row">
            <div class="product-title fs-5 fw-bold col-9">{{forloop.counter }}. {{ product.product.name }}</div>
            <div class="col-3 fs-5 fw-bold text-avocado">
               {{ product.order_item_total}}
            </div>
        </div>

        <div class="product-text my-2">{{ product.product.description }}</div>

        <form>
            <div class="row g-0 align-items-center">
                <div class="col-5">
                    <div class="input-group align-items-center justify-content-start">
                        <div class="input-group-prepend">
                            <button class="btn btn-quantity" type="button" data-type="minus" data-field="quantity">
                                <i class="fa-solid fa-minus"></i>
                                <span class="visually-hidden">Decrease quantity</span>
                            </button>
                        </div>

                        <input type="text" name="quantity" class="form-control input-number" value="{{ product.quantity }}" min="1" max="30">

                        <div class="input-group-append">
                            <button class="btn btn-quantity" type="button" data-type="plus" data-field="quantity">
                                <i class="fa-solid fa-plus"></i>
                                <span class="visually-hidden">Increase quantity</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col text-salmon">Remove</div>
            </div>
        </form>
    </div>
</div>