{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <hr>
    <h2 class="text-avocado display-4">{% trans "Change Password" %}</h2>
    <hr>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-floating mb-3 w-75">
          <input class="form-control" type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% if field.errors %}
          <div class="text-salmon">{{ field.errors }}</div>
          {% endif %}
        </div>
        {% endfor %}
        <button class="btn btn-avocado" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
