{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
<hr>
<h2 class="text-avocado display-4">{% trans "Set Password" %}</h2>
<hr>

<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    {% csrf_token %}

    {% for field in form %}
    <div class="form-floating mb-3 w-75">
        <input class="form-control" type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}"
            name="{{ field.html_name }}">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.errors %}
        <div class="text-salmon">{{ field.errors }}</div>
        {% endif %}
    </div>
    {% endfor %}

    <input class="btn btn-avocado" type="submit" name="action" value="{% trans 'Set Password' %}" />
</form>
{% endblock %}