#loading-overlay {
  visibility: hidden;
  background-image: url('https://media.giphy.com/media/3og0IJD4VvwWc7ZepO/giphy.gif');
  background-size: auto;
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9999;
  transition: visibility 0s, opacity 0.5s linear;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
