{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}
{% block title %}- all delish sushi menu{% endblock %}

{% block page_header %}
<nav class="navbar navbar-light bg-light fixed-top py-1 justify-content-around align-items-start">
    <div>
        <a class="navbar-brand" href="{% url 'home' %}">Sushiish</a>
    </div>
    <div>
        <ul class="navbar-nav flex-row align-items-start">
            <li class="nav-item dropdown list-inline-item me-3">
                <a class="nav-link text-center" href="#" id="account-dropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fas fa-user fa-lg" aria-hidden="true"></i>
                    <div class="dropdown-toggle">Account</div>
                </a>
                <ul class="dropdown-menu position-absolute end-0 text-end" aria-labelledby="account-dropdown">
                    {% if request.user.is_authenticated %}
                    <li class="dropdown-item">
                        <a href="">Profile</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="dropdown-item" href="{% url 'account_login' %}">Log In</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <li class="nav-item list-inline-item">
                <a class="nav-link text-center" href="#">
                    <i class="fa-solid fa-shopping-cart fa-lg" aria-hidden="true"></i>
                    <span class="visually-hidden">Shopping Cart</span>
                    <p class="mb-0">
                        {% if grand_total %}
                        ${{ grand_total|floatformat:2 }}
                        {% else %}
                        $0.00
                        {% endif %}
                    </p>
                </a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<main>
    <section class="container-fluid product-listing-hero d-flex justify-content-center align-items-center overflow-hidden">
        <div class="card address-card">
            <div class="card-body text-white">
                <div class="brand-text text-center mb-2">Sushiish</div>
                <div class="display-inline">
                    <i class="fa-solid fa-phone text-avocado me-2"></i>
                    <span class="visually-hidden">Phone number</span>
                    <span>+47 46 50 88 88</span>
                </div>
                <div class="display-inline my-2">
                    <i class="fa-solid fa-location-dot text-avocado me-2"></i>
                    <span class="visually-hidden">Address</span>
                    <span>Rolling Road 26, 0580 Oslo</span>
                </div>
                <div class="display-inline">
                    <i class="fa-solid fa-clock text-avocado me-2"></i>
                    <span class="visually-hidden">Opening hours</span>
                    <span>13:00 - 21:00</span>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid category-nav-wrapper">
        <div id="categoryNav" class="category-nav">
            <ul id="categoryNavContents" class="category-nav_contents list-inline nav nav-pills nav-fill d-block mb-0">
                <li class="nav-item list-inline-item">
                    <a class="nav-link active text-center" href="#">All</a>
                </li>
                {% for category in categories %}
                <li class="nav-item list-inline-item">
                    <a class="nav-link" href="#">{{ category.friendly_name }}</a>
                </li>
                {% endfor %}
                <span id="pnIndicator" class="category-nav_Indicator"></span>

            </ul>
        </div>

        <div id="prevBtn" class="nav-item previous-btn">
            <i class="fa-solid fa-circle-chevron-left"></i>
            <span class="visually-hidden">Previous</span>
        </div>

        <div id="nextBtn" class="nav-item next-btn">
            <i class="fa-solid fa-circle-chevron-right"></i>
            <span class="visually-hidden">Next</span>
        </div>
    </div>

    <section class="container product-listing position-relative top-0">
        {% for category in categories %}
        <div class="row">
            <div class="display-6 fw-bold text-avocado">
                {{ category.friendly_name }}</>
            </div>
            <div class="text-muted mb-3">
                {% if category.description %}
                {{ category.description }}
                {% endif %}
            </div>
            {% for product in products %}
            {% if product.category.id == category.id %}
            <div class="col-12 col-md-6">
                <a href="{% url 'product_detail' product.id %}" class="text-decoration-none text-black" data-bs-toggle="offcanvas" data-product-url="{% url 'product_detail' product.id %}">
                    <div class="card product-card">
                        <div class="card-body">
                            <div class="product-title fs-5 text-salmon fw-bold">{{ product.name }}</div>
                            {% if product.allergies.all|length > 0 %}
                            <div class="product-allergies my-2">
                                {% for allergy in product.allergies.all %}
                                <span class="allergy-tag">{{ allergy.name }}</span>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <div class="product-text">{{ product.description }}</div>
                            <div class="price fw-bold">
                                ${{ product.price|floatformat:2 }}
                            </div>
                        </div>
                        <div class="product-img-container">
                            <div class="product-img" style="background-image: url('{{ product.image.url }}')">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </section>
    {% include 'products/product_offcanvas.html' %}
</main>
{% endblock %}

{% block extra_js %}
<script src="{% static 'products/js/categoryNav.js' %}"></script>
{% endblock %}