<div class="offcanvas offcanvas-end" tabindex="-1" id="product-offcanvas" aria-labelledby="product-detail-offcanvas">
    <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0 d-flex flex-column">

    </div>
</div>

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', async (e) => {
        document.querySelectorAll('[data-bs-toggle="offcanvas"]').forEach((card) => {
            card.addEventListener('click', async (e) => {
                e.preventDefault();
                let url = card.getAttribute('data-product-url');
                let offCanvas = new bootstrap.Offcanvas(document.getElementById('product-offcanvas'));
                let offCanvasBody = document.querySelector('.offcanvas-body');
                const productDetailHtml = await fetch(url).then(res => res.text());
                offCanvasBody.innerHTML = productDetailHtml;
                offCanvas.show();

                activateQuantityChange();
            });
        });
    });

    const activateQuantityChange = () => {
        document.querySelectorAll('.btn-quantity').forEach((btn) => {
            btn.addEventListener('click', (e) => {
                e.preventDefault();
                let type = btn.getAttribute('data-type');
                changeQtyAddToCart(type);
            });
        });
        document.querySelector('input.input-number').addEventListener('change', (e) => {
            console.log('change');
            let input = document.querySelector('input.input-number');

            let value = parseInt(e.target.value);
            console.log(value);
            let max = e.target.getAttribute('max');
            let min = e.target.getAttribute('min');
            if (value > max) {
                input.value = max;
            } else if (value < min) {
                input.value = min;
            }
            changeQtyAddToCart('custom');
        });
    };

    const changeQtyAddToCart = (type) => {
        let input = document.querySelector('input.input-number');
        let quantity = parseInt(input.value);
        if (type === 'plus') {
            if (quantity < input.getAttribute('max')) {
                input.value = quantity + 1;
            }
        } else if (type === 'minus') {
            if (quantity > 1) {
                input.value = quantity - 1;
            }
        }
        calculateTotal(parseInt(input.value));
    };

    const calculateTotal = (quantity) => {
        let total = document.querySelector('.add-total');
        let price = parseFloat(document.querySelector('.price').innerText.split('$')[1]);
        total.innerText = (price * quantity).toFixed(2);
    };
</script>
{% endblock %}