{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block extra_title %}- all delish sushi menu{% endblock %}

{% block page_header %}
{% include 'includes/main-nav.html' %}
{% endblock %}

{% block content %}
<main>
    <section
        class="container-fluid product-listing-hero d-flex justify-content-center align-items-center overflow-hidden">
        <div class="card address-card">
            <div class="card-body text-white">
                <div class="brand-text text-center mb-2">Sushiish</div>
                <div class="display-inline">
                    <i class="fa-solid fa-phone text-avocado me-2"></i>
                    <span class="visually-hidden">Phone number</span>
                    <span>+47 46 50 88 88</span>
                </div>
                <div class="display-inline my-2">
                    <i class="fa-solid fa-location-dot text-avocado me-2"></i>
                    <span class="visually-hidden">Address</span>
                    <span>Rolling Road 26, 0580 Oslo</span>
                </div>
                <div class="display-inline">
                    <i class="fa-solid fa-clock text-avocado me-2"></i>
                    <span class="visually-hidden">Opening hours</span>
                    <span>13:00 - 21:00</span>
                </div>
            </div>
        </div>
    </section>

    {% include 'products/includes/category-nav.html' %}

    <section class="container product-listing position-relative top-0 mt-3">
        {% include 'products/includes/allergy-filter.html' %}

        {% if search_query %}
            {% if products|length == 0 %}
            <div class="container-fluid text-center">
                <div class="d-inline-block mb-3">
                    <span>No search results found for: {{ search_query }} | </span>
                    <span>
                        <a href="{% url 'products' %}" class="text-avocado text-decoration-none">Clear search</a>
                    </span>
                </div>
            </div>
            {% else %}
            <div class="container-fluid">
                <div class="row">
                    <div class="d-inline-block mb-3">
                        <span>Search results for: {{ search_query }} | </span>
                        <span>
                            <a href="{% url 'products' %}" class="text-avocado text-decoration-none">Clear search</a>
                        </span>
                    </div>
                    {% for product in products %}
                        {% include 'products/includes/product-card.html' %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% else %}
            <div class="row product-listing-container">
                {% for category in categories %}
                <div id="category-{{ category.id }}" class="row category-section">
                    <div class="display-6 fw-bold text-avocado">
                        {{ category.friendly_name }}</>
                    </div>
                    <div class="text-muted mb-3">
                        {% if category.description %}
                            {{ category.description }}
                        {% endif %}
                    </div>
                    {% for product in products %}
                        {% if product.category.id == category.id %}
                            {% include 'products/includes/product-card.html' %}
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>

    {% include 'products/product_offcanvas.html' %}
    
</main>
{% endblock %}

{% block extra_js %}
<script src="{% static 'products/js/categoryNav.js' %}"></script>
<script src="{% static 'products/js/quantityInput.js' %}"></script>
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}